.commentForm{
  margin: 50px auto;
  width: 400px;
}

.commentForm>textarea{
  width: 100%;
  min-height: 50px;
}

.commentItems{
  display: flex;
  justify-content: space-between;
}

.commentItems>button{
max-height: 25px;}