.comment{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px;
}

.commentItems{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.commentItems>div{
  margin-left: 15px;
}