.slider>img{
  margin-top: 30px;
  width: 400px;
  height: 200px;
  object-fit: cover;
  border: 2px solid rgb(177, 121, 18);
}

.slider>div{
  margin-top: 10px;
}

.slider div>button{
  margin-left: 15px;
  padding: 10px;
}